a,
.theme_color,
.btn-style-one:hover,
.btn-style-four:hover,
.btn-style-five,
.btn-style-five:hover,
.main-header .info-box:hover .icon-box,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current-menu-item > a,
.main-menu .navigation > li > ul > li:hover > a,
.main-menu .navigation > li > ul > li > ul > li:hover > a,
.main-slider .tp-caption .theme-btn.btn-style-one:hover,
.service-block-one .inner-box .upper-content .icon,
.service-block-one h3 a:hover,
.service-block-two .inner-box:hover .over-content h3 a,
.service-block-two .over-content .icon,
.service-block-three .inner-box:hover .lower-content h3 a,
.service-block-three .lower-content .icon,
.accordion-box .block .icon-outer .icon-minus,
.accordion-box .block .acc-btn.active .icon-outer,
.default-portfolio-item .overlay-box .over-content .link-box a,
.default-portfolio-item .overlay-box .over-content h4 a:hover,
.testimonials-section .slide-item .upper-content .rating,
.news-style-one .lower-content h3 a:hover,
.news-style-two .content h3 a:hover,
.news-style-three .inner-box h3 a:hover,
.default-form .form-group .field-inner .input-icon,
.default-form .check-box input:checked + label,
.default-form .check-box label:after,
.main-footer .links-widget .list li a:hover,
.main-footer .links-widget .list li a:hover::before,
.news-widget .news-post h3 a:hover,
.contact-info-list li .icon,
.main-footer .footer-bottom .copyright a,
.main-footer .footer-bottom .footer-links li a:hover,
.service-block-four .inner-box .icon-box,
.service-block-four .inner-box:hover h3 a,
.page-info .bread-crumb li,
.page-info .bread-crumb li a:hover,
.service-block-five .inner-box:hover .lower-content h3 a,
.service-block-five .lower-content .icon,
.default-team-member .lower-content .social-links li a:hover,
.error-search-box .form-group input:focus + button,
.error-search-box .form-group button:hover,
.project-block-one .inner-box:hover .lower-content h3 a,
.project-block-two .overlay-box .over-content .link-box a,
.project-block-two .overlay-box .over-content h4 a:hover,
.gallery-filters li:hover,
.gallery-filters li.active,
.info-list li:hover::before,
.contact-section .social-links li a:hover,
.info-widget .inner h2,
.blog-cat li a:hover,
.sidebar .popular-posts .post a:hover,
.list-style-two li:before,
.service-block-six .inner-box .icon-box,
.service-single .service-stats .stat-box h4 strong,
.shop-item .inner-box .lower-content h3 a:hover,
.product-details .basic-details .availablity strong,
.shop-page .prod-tabs .reviews-container .rev-header .rating,
.shop-page .prod-tabs .add-review .rating .rate-box:hover,
.shop-page .prod-tabs .add-review .rating .rate-box:focus,
.shop-page .prod-tabs .add-review .rating .rate-box:active,
.category-box .category-list .sub-menu > li > a:hover,
.sidebar .related-posts .shop-post a,
.sidebar .related-posts .shop-post a:hover,
.order-confirmation .content-box .icon-box,
.header-lower .main-menu .navigation > li:hover > a,
.header-lower .main-menu .navigation > li.current > a,
.header-lower .main-menu .navigation > li.current-menu-item > a{
	color:#39CCCC;
}

/*Background Color*/

.btn-style-one,
.scroll-to-top:hover,
.drop-list-one .dropdown-menu li:hover > a,
.main-header.header-style-two .header-top .social-links li a:hover,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.main-header .nav-outer .btn-outer .get-quote-btn:hover,
.main-header .nav-outer .btn-outer .get-quote-btn .icon,
.service-block-two .inner-box:hover .over-content .icon,
.service-block-three .inner-box:hover .lower-content .icon,
.team-carousel-section .slide-item .social-links li a:hover,
.blog-details .news-style-one .post-bottom .post-tags a:hover,
.blog-details .news-style-one .post-bottom .social-links li a:hover,
.call-to-action-two,
.main-footer .logo-widget .form-group input[type="submit"],
.main-footer .logo-widget button,
.main-footer .social-links li a:hover,
.service-block-five .inner-box:hover .lower-content .icon,
.what-we-do .content .content-block:before,
.list-style-one li:before,
.sidebar-testimonial .owl-dots .owl-dot.active span,
.sidebar-testimonial .owl-dots .owl-dot:hover span,
.sidebar-downloads ul li a,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.shop-page .prod-tabs .tab-btns .tab-btn:before,
.shopping-progress .step.active-step,
.shopping-progress .step.done-step,
.shopping-progress .step.active-step .step-number,
.shopping-progress .step.done-step .step-number,
.checkout-section .order-table .delivery-options li label:after{
	background-color:#39CCCC;
}

.rangeslider-widget .noUi-connect{
	background-color:#39CCCC !important;	
}

/*Border Color*/

.btn-style-one,
.btn-style-one:hover,
.btn-style-five,
.drop-list-one .dropdown-menu,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.service-block-two .over-content .icon,
.service-block-three .inner-box:hover .lower-content,
.service-block-three .inner-box:hover .lower-content:after,
.service-block-three .lower-content .icon,
.accordion-box .block .acc-btn.active .icon-outer,
.fun-facts-section .column .inner,
.default-portfolio-item .overlay-box .over-content .link-box a,
.team-carousel-section .slide-item .social-links li a:hover,
.main-footer .social-links li a:hover,
.service-block-four .inner-box:hover,
.service-block-five .lower-content .icon,
.default-team-member .lower-content .social-links li a:hover,
.gallery-filters li:hover,
.gallery-filters li.active,
.contact-section .contact-info-block .inner,
.styled-pagination li a:hover,
.styled-pagination li a.active,
.payment-method .payment-options li.active a,
.payment-method .payment-options li:hover a,
.checkout-section .order-table .delivery-options li input:checked+label:before,
.order-confirmation .content-box .icon-box,
.main-slider .tp-caption .theme-btn.btn-style-one:hover{
	border-color:#39CCCC;
}

/*Focus Color*/

.default-form input:focus,
.default-form select:focus,
.default-form textarea:focus,
.error-search-box .form-group input:focus,
.error-search-box .form-group input:focus + button,
.error-search-box .form-group button:hover,
.faq-search-box .form-group input:focus,
.faq-search-box .form-group input:focus + button,
.faq-search-box .form-group button:hover,
.faq-form-section .form-group input[type="text"]:focus,
.faq-form-section .form-group input[type="password"]:focus,
.faq-form-section .form-group input[type="tel"]:focus,
.faq-form-section .form-group input[type="email"]:focus,
.faq-form-section .form-group select:focus,
.faq-form-section .form-group textarea:focus,
.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.payment-method .credit-card-outer .form-group input:focus,
.payment-method .credit-card-outer .form-group select:focus,
.payment-method .credit-card-outer .form-group textarea:focus,
.shop-form input:focus,
.shop-form select:focus,
.shop-form textarea:focus{
	border-color:#39CCCC;
}


@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#39CCCC;
	}
	
	.main-header .nav-outer .btn-outer .get-quote-btn,
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#39CCCC;
	}
	
}